SMTP_HOST=smtp.yourprovider.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-username
SMTP_PASS=your-smtp-password
SMTP_FROM="PISJES Website <no-reply@pisjes.edu.sa>"
RESULTS_EXCEL_PATH=secure-data/results.xlsx
NEXT_PUBLIC_ENABLE_ANNOUNCEMENT_POPUP=true
NEXT_PUBLIC_ENABLE_RESULT_POPUP=false
